/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Defining font family */
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Thin.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-ThinItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("public/fonts/DMSans-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}



.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Swiper */

.swiper-wrapper {
    @apply flex;
    @apply items-center;
}

.swiper-slide {
    transition: all;
}

/*
.swiper-slide-active {
    filter: blur(0px) !important;
    !*@apply scale-105;*!
}
*/

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 8px 16px;
    border-radius: 100%;
    border: 2px solid black;
    color: red;
}

.swiper-button-prev {
    /* background-image: url(); */
}

.swiper-button-next {
    /* background-image: url(); */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-pagination-bullets {
    margin-bottom: 0;
}