---
import Slider from '../../components/Slider.vue';
---


<section class="relative">
    <div class="container">
        <h3 class="text-heading-2 text-system-neutral-800 font-bold lg:leading-7 leading-10">Entdecke deine Aktivitäten</h3>
        <p class="text-neutral-600 text-paragraph-2 mt-6 leading-7 w-3/5">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam cras tellus sit tempor amet, nascetur quam ornare proin platea diam amet sed fringilla.</p>
    </div>
    <div class="no-scrollbar flex justify-center w-full items-center overflow-hidden relative -mt-10">
        <Slider client:load></Slider>
    </div>
</section>

<style>
</style>


<script>
</script>



