---
import Icon from "../Icon.vue"
---

<section class="relative md:mt-0">
    <div class="mt-12 text-center">
        <h3 class="text-heading-2 text-system-neutral-800 font-bold">Das erwartet dich!</h3>
        <p class="text-neutral-600 text-paragraph-2 mt-6 lg:w-3/5 w-full mx-auto">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam cras tellus sit tempor amet, nascetur quam ornare proin platea diam amet sed fringilla.</p>
    </div>
    <div class="mt-12 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-x-4 gap-y-8">
        <div class="flex px-4 py-3 items-center">
            <div class="w-1/4 mr-4">
                <img class="rounded-full w-full h-full object-cover" src="/images/specials/mountains.jpg" />
            </div>
            <div class="w-3/4">
                <h4 class="text-heading-4 text-system-neutral-800 font-bold">Nähe zu den Bergen</h4>
                <p class="text-system-neutral-600 text-paragraph-2 mt-2">Sagittis, facilisis mauris sed vitae habitant dolor sit.</p>
            </div>
        </div>
        <div class="flex px-4 py-3 items-center">
            <div class="w-1/4 mr-4">
                <img class="rounded-full w-full h-full object-cover" src="/images/specials/mountains.jpg" />
            </div>
            <div class="w-3/4">
                <h4 class="text-heading-4 text-system-neutral-800 font-bold">Pool Freude</h4>
                <p class="text-system-neutral-600 text-paragraph-2 mt-2">Sagittis, facilisis mauris sed vitae habitant dolor sit.</p>
            </div>
        </div>
        <div class="flex px-4 py-3 items-center">
            <div class="w-1/4 mr-4">
                <img class="rounded-full w-full h-full object-cover" src="/images/specials/mountains.jpg" />
            </div>
            <div class="w-3/4">
                <h4 class="text-heading-4 text-system-neutral-800 font-bold">Gaming Room</h4>
                <p class="text-system-neutral-600 text-paragraph-2 mt-2">Sagittis, facilisis mauris sed vitae habitant dolor sit.</p>
            </div>
        </div>
        <div class="flex px-4 py-3 items-center">
            <div class="w-1/4 mr-4">
                <img class="rounded-full w-full h-full object-cover" src="/images/specials/mountains.jpg" />
            </div>
            <div class="w-3/4">
                <h4 class="text-heading-4 text-system-neutral-800 font-bold">Atemberaubende Sonnenuntergänge</h4>
                <p class="text-system-neutral-600 text-paragraph-2 mt-2">Sagittis, facilisis mauris sed vitae habitant dolor sit.</p>
            </div>
        </div>
        <div class="flex px-4 py-3 items-center">
            <div class="w-1/4 mr-4">
                <img class="rounded-full w-full h-full object-cover" src="/images/specials/mountains.jpg" />
            </div>
            <div class="w-3/4">
                <h4 class="text-heading-4 text-system-neutral-800 font-bold">Gute Ereichbarkeit von Einfkaufsmöglichkeiten</h4>
                <p class="text-system-neutral-600 text-paragraph-2 mt-2">Sagittis, facilisis mauris sed vitae habitant dolor sit.</p>
            </div>
        </div>
        <div class="flex px-4 py-3 items-center">
            <div class="w-1/4 mr-4">
                <img class="rounded-full w-full h-full object-cover" src="/images/specials/mountains.jpg" />
            </div>
            <div class="w-3/4">
                <h4 class="text-heading-4 text-system-neutral-800 font-bold">Nähe zum Strand</h4>
                <p class="text-system-neutral-600 text-paragraph-2 mt-2">Sagittis, facilisis mauris sed vitae habitant dolor sit.</p>
            </div>
        </div>
    </div>
</section>


<style>
</style>