---
import Icon from "../Icon.vue"
---

<section class="relative">
    <div class="mt-12">
        <h3 class="text-heading-2 text-system-neutral-800 font-bold leading-7">Der Komfort</h3>
        <p class="text-neutral-600 text-paragraph-2 mt-6 leading-7">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam cras tellus sit tempor amet, nascetur quam ornare proin platea diam amet sed fringilla.</p>
    </div>
    <div class="mt-6 grid grid-cols-3 gap-x-4 gap-y-8">
        <Icon>WIFI</Icon>
        <Icon>Klimaanlage</Icon>
        <Icon>Pool</Icon>
        <Icon>Vollintegrierte Küche</Icon>
        <Icon>Fußbodenheizung</Icon>
        <Icon>Aussicht</Icon>
        <Icon>Parkplatz</Icon>
        <Icon>Billiard</Icon>
        <Icon>TV</Icon>
    </div>
</section>


<style>
</style>