---
import Icon from "../Icon.vue";
---

<section class="relative">
    <div>
        Badgets
    </div>
    <div class="mt-12">
        <h3 class="text-heading-2 text-system-neutral-800 font-bold">Über das Haus</h3>
        <p class="text-neutral-600 text-paragraph-2 mt-6">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam cras tellus sit tempor amet, nascetur quam ornare proin platea diam amet sed fringilla.</p>
    </div>
    <div class="mt-6">
        <ul class="text-neutral-600 text-paragraph-2 list-inside list-disc">
            <li>Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae.</li>
            <li>Magna etiam tempor orci eu lobortis elementum nibh tellus molestie.</li>
            <li>Porta lorem mollis aliquam ut porttitor leo a diam.</li>
            <li>Pellentesque elit eget gravida cum sociis natoque penatibus et magni.</li>
        </ul>
    </div>
    <div class="mt-6">
        <p class="text-neutral-600 text-paragraph-2">Pulvinar mattis nunc sed blandit libero cursus turpis massa tincidunt dui ut tellus molestie nunc non blandit massa enim nec dui nunc netus et malesuada fames aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus scelerisque purus semper eget duis at tellus in mollis nunc sed id semper risus.</p>
        <p class="text-neutral-600 text-paragraph-2 mt-6">Tempus quam pellentesque nec nam aliquam sem et tortor duis convallis convallis tellus id interdum sit amet nisl purus in mollis nulla facilisi morbi tempus iaculis urna id volutpat tincidunt vitae semper quis lectus nulla.</p>
    </div>

    <div class="h-[1px] bg-system-neutral-300 my-20"></div>

    <div class="mt-12">
        <h3 class="text-heading-2 text-system-neutral-800 font-bold">Komfort</h3>
        <p class="text-neutral-600 text-paragraph-2 mt-6">Lorem ipsum dolor sit amet consectetur adipiscing elit etiam cras tellus sit tempor amet, nascetur quam ornare proin platea diam amet sed fringilla.</p>
    </div>
    <div class="mt-6 grid lg:grid-cols-3 grid-cols-2 gap-x-4 gap-y-8">
        <Icon>WIFI</Icon>
        <Icon>Klimaanlage</Icon>
        <Icon>Pool</Icon>
        <Icon>Vollintegrierte Küche</Icon>
        <Icon>Fußbodenheizung</Icon>
        <Icon>Aussicht</Icon>
        <Icon>Parkplatz</Icon>
        <Icon>Billiard</Icon>
        <Icon>TV</Icon>
    </div>
</section>


<style>
</style>