---
import Layout from '../layouts/Layout.astro';
import VideoTeaser from "../components/sections/VideoTeaser.vue";
---

<Layout title="Welcome to Astro.">

	<div class="relative container mx-auto lg:mt-2 md:mt-12 mt-5">
		<VideoTeaser client:load />
	</div>
</Layout>

<style>
</style>
