---
import Layout from '../layouts/Layout.astro';
import HeaderSection from "../components/sections/HeaderSection.astro";
import InformationSection from "../components/sections/InformationSection.astro";
import AmenitiesSection from "../components/sections/AmenitiesSection.astro";
import ActivitiesSection from "../components/sections/ActivitiesSection.astro";
import GallerySection from "../components/sections/GallerySection.vue";
import AboutUsSection from "../components/sections/AboutUsSection.astro";
import FaqSection from "../components/sections/FaqSection.vue";
import Footer from "../components/Footer.astro";
import ReservationCard from "../components/ReservationCard.vue";
---

<Layout title="Welcome to Astro.">
	<div>
		<HeaderSection></HeaderSection>
	</div>
	<div class="relative mx-auto isolate pt-20">
		<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
			<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
		<div class="container lg:flex pb-20">
			<div class="lg:w-3/5 w-full lg:pb-36 pb-16">
				<InformationSection></InformationSection>
			</div>
			<div class="lg:w-2/5 w-full relative lg:px-10 px-0 lg:-mt-[25rem]">
				<ReservationCard client:load></ReservationCard>
			</div>
		</div>
	</div>
	<div class="bg-system-neutral-100 py-20">
		<div class="">
			<GallerySection client:load></GallerySection>
		</div>
		<div class="container pb-20 lg:h-screen h-full flex items-center 2xl:-mt-24 xl:mt-12 mt-16">
			<AmenitiesSection></AmenitiesSection>
		</div>
		<div class="container pb-20 mb-20 2xl:mt-0 mt-16">
			<AboutUsSection></AboutUsSection>
		</div>
		<div class="mt-40">
			<ActivitiesSection></ActivitiesSection>
		</div>
		<div class="container lg:pb-20 pb-0 mb-20 mt-16">
			<FaqSection client:load></FaqSection>
		</div>
		<div>
			<Footer></Footer>
		</div>
	</div>
</Layout>

<style>
</style>
