---
import Layout from '../layouts/Layout.astro';
import VideoTeaser from "../components/sections/VideoTeaser.vue";
import HeaderSection from "../components/sections/HeaderSection.astro";
import InformationSection from "../components/sections/InformationSection.astro";
import ReservationCard from "../components/ReservationCard.vue";
---

<Layout title="Welcome to Astro.">
	<div>
		<HeaderSection></HeaderSection>
	</div>
</Layout>

<style>
</style>
